.popup__button {
    width: 358px;
    height: 50px;
    margin-bottom: 36.51px;
    margin-top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    border: none;
}

@media screen and (max-width: 589px) {
    .popup__button {
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}